.header {
  font-size:42;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}
.topbox {
  margin: auto;
  width: 75%;
  border: 3px solid black;
  padding: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 40px;
}
.menuBar {
  width: 75%;
  margin: auto;
  border: 0px;
  border-left: 3px solid;
  border-right: 3px solid;
}
.mainBox {
  margin: auto;
  width: 75%;
  border:3px solid black;
}
.menuBarList {
list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;
background-color: black;
color: white;
}
.menuBarFloat {
  display: block;
  float: left;
  padding: 5px;
}
a:link, a:visited{
  font-family: 'Julius Sans One', cursive;
  display: block;
  padding: 10px 14px;
  color: white;
  background: black;
}
a:hover {
  background: gray;
}
